body{
    background-color: rgb(30, 30, 30);
}

.detalle{
    background-color: rgba(0, 0, 0, 0.581);
    height: 650px;
    width: 600px;
    margin-bottom: 20px;
    margin-top: 150px;
    padding: 30px;
    border-style: solid;
    border-color: black;
}

.imagen{
    height: auto;
    width: 500px;
}

.descripcion{
    font-size: 23px;
    color: aliceblue;
}

.stock{
    font-size: 21px;
    color: antiquewhite;
}

.precio{
    font-size: 24px;
    color: aliceblue;
}

.tituloDetalle{
    font-size: 26px;
    color: aliceblue;
}

.linkFin{
    text-decoration: none;
    font-size: 26px;
    color: aliceblue;
}