.detalle{
    background-color:rgba(89, 27, 57, 0.535);
    height: 690px;
    width: 640px;
    margin-bottom: 20px;
    padding: 30px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    margin-left: 250px;
    margin-top: -200px;
}

.imagen{
    height: auto;
    width: 500px;
}

.descripcion{
    font-size: 23px;
    color: aliceblue;
}

.stock{
    font-size: 21px;
    color: antiquewhite;
}

.precio{
    font-size: 24px;
    color: aliceblue;
}

.tituloDetalle{
    font-size: 26px;
    color: aliceblue;
}

.linkFin{
    text-decoration: none;
    font-size: 26px;
    color: aliceblue;
}