.cartDetails{
    display: flex;
    height:23px;
}

p{
    text-decoration:none;
    color: aliceblue;
}

.TotalPrecio{
    font-size: 28px;
}

.Button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
}

.noProducts{
    margin-top: -130px;
    color: aliceblue;
    text-shadow: 0 0 5px rgb(255, 0, 76),
    0 0 10px rgb(255, 0, 136),
    0 0 20px rgb(208, 0, 255),
    0 0 40px rgb(127, 38, 120),
    0 0 80px rgb(127, 38, 74),
    0 0 90px rgb(127, 38, 38),
    0 0 100px rgb(127, 38, 45),
    0 0 140px rgb(127, 38, 38),
    0 0 180px rgb(127, 38, 38);; ;
}

.TuCarrito{
    margin-top: -190px;
    font-size: 34px;
    color: aliceblue;
    text-shadow: 0 0 5px rgb(255, 0, 76),
    0 0 10px rgb(255, 0, 136),
    0 0 20px rgb(208, 0, 255),
    0 0 40px rgb(127, 38, 120),
    0 0 80px rgb(127, 38, 74),
    0 0 90px rgb(127, 38, 38),
    0 0 100px rgb(127, 38, 45),
    0 0 140px rgb(127, 38, 38),
    0 0 180px rgb(127, 38, 38);; ;
}