.formulario{
    display: block;
    width: 570px;
    height: 380px;
    background-color:rgba(89, 27, 57, 0.535);
    justify-content: center;
    margin-left: 35%;
    margin-top: -100px;
    border-radius: 20px;
}

input{
    display: block;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    margin-left: 150px;
}

.title{
    padding: 20px;
}